// colors variables :

$white-color: #ffffff;
$background-color: #efefef;
$background-color-dark: #0e2652;
$secondary-background-color-dark: #001235;
$black-color: #000000;
$blue-color: #1f4082;
$red-color: #e23e57;
$light-gray-border: #818181;
$extra-light-gray-color: #f6f6f6;

// font weight variables :
$extra-light-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$semi-bold-weight: 600;
$bold-weight: 700;
$extra-bold-weight: 900;
